#content {
    display: flex;
    height: 61em;
    border-style: solid;
    border-color: blue;
}

#display {
    display:flex;
    border-style: solid;
    border-color: yellow;
    width: 100em;
    flex-direction: column;
}
#taskDisplay {
    display: flex;
    border-color: red;
    border-style: solid;
    height: 51em;
}

#sideBar {
    display: flex;
    border-style: solid;
    border-color: black;
    width: 25em;
}

#titleDisplay {
    display: flex;
    border-style: solid;
    height: 8em;
    border-color: burlywood;
}
