#content {
    display: flex;
    height: 61em;
    border-style: solid;
    border-color: blue;
}

#display {
    display:flex;
    border-style: solid;
    border-color: yellow;
    width: 100em;
    flex-direction: column;
}
#taskDisplay {
    display: flex;
    border-color: red;
    border-style: solid;
    height: 51em;
}

#sideBar {
    display: flex;
    border-style: solid;
    border-color: black;
    width: 25em;
}

#titleDisplay {
    display: flex;
    border-style: solid;
    height: 8em;
    border-color: burlywood;
}

/* this is for the form */

#taskForm{
    display: flex;
    flex-direction: column;
    background-color: rgb(192, 192, 235);
    height: 51em;
    width: 61em;
}

#priorityBtn{
    background-color:red;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 20px;
}

#dropdownDiv {
    
}

.input{

}

.dropdownContent{
    display: none; 
    
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
}
.show{
    display: block;
}

#submitBtn{
    height: 20px;
    width: 20px;
}
.list {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    }